{% extends 'base.html.twig' %}

{% block body %}

    <form action="{{ path('login') }}" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="_username" value="" />

        <label for="password">Password:</label>
        <input type="password" id="password" name="_password" />

        {#
            If you want to control the URL the user
            is redirected to on success (more details below)
            <input type="hidden" name="_target_path" value="/account" />
        #}

        <button type="submit">login</button>
    </form>
{% endblock %}

{% block stylesheets %}
    <style>
        body {
            //background: #ebebeb;
            font: 14px/1.5 sans-serif;
            /*background-image: url("245981.jpg");
            background-repeat: repeat;*/
        }

        h1, h2 {
            line-height: 1.2;
            margin: 0 0 .5em;
        }

        h1 {
            font-size: 39px;
            font-weight: normal;
        }

        h2 {
            font-size: 21px;
            margin-bottom: 1em;
        }

        p {
            margin: 0 0 1em 0;
        }

        a {
            color: #0000F0;
        }

        a:hover {
            text-decoration: none;
        }

        code {
            max-width: 100px;
            padding: 2px 6px;
            word-wrap: break-word;

            //color: #4a6a81;
        }

        code.title{
            font-size: 18px;
        }

        span.infos{
            display: block;
            line-height: 11px;
            font-size: 11px;
        }

        audio {
            border-radius: 20px;
            height: 23px;
            margin-bottom: -7px;
        }

        .audiojs{
            background: none;
            background-image: none;
            width: 95%;
        }

        .audiojs .play-pause{
            width:5%;
        }

        .audiojs .scrubber{
            width: 70%;
        }

        .audiojs .time{
            width: 10%;
        }

        #wrapper {
            background: #FFF;
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
        }

        #container {
            padding: 2em;
        }

        #welcome{
            height: 180px;
        }

        #welcome, #status {
            margin-bottom: 2em;
        }

        #welcome h1 {
            font-size: 38px;
            font-style: italic;
        }

        #welcome h1 span {
            display: block;
            color: #000;
            font-size: 14px;
            font-style: normal;
        }

        #pic {
            float: left;
            margin-right: 1em;
            margin-top: -12px;
            width: 186px;
        }


        input{
            font-size: 14px;
        }

        input[name="pattern"]{
            width: 180px;
            height: 22px;
        }

        input[type="submit"]{
            -webkit-appearance: none;
            height: 30px;
            border: none;
        }

        input[type="button"]{
            -webkit-appearance: none;
            height: 30px;
            border: none;
        }

        select {
            border: 1px solid #111;
            background: transparent;
            padding: 5px 35px 5px 5px;
            margin: 5px 0px;
            font-size: 14px;
            border: 1px solid #ccc;
            height: 30px;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
        }


        /* CAUTION: IE hackery ahead */


        select::-ms-expand {
            display: none; /* remove default arrow in IE 10 and 11 */
        }

        /* target Internet Explorer 9 to undo the custom arrow */
        @media screen and (min-width:0\0) {
            select {
                background:none\9;
                padding: 5px\9;
            }
        }

        @media (min-width: 768px) {
            #wrapper {
                width: 80%;
                margin: 2em auto;
            }


            #status a, #next a {
                display: block;
            }

            @-webkit-keyframes fade-in {
                0% {
                    opacity: 0;
                }
                100% {
                    opacity: 1;
                }
            }
            @keyframes fade-in {
                0% {
                    opacity: 0;
                }
                100% {
                    opacity: 1;
                }
            }
            .sf-toolbar {
                opacity: 0;
                -webkit-animation: fade-in 1s .2s forwards;
                animation: fade-in 1s .2s forwards;
            }

            blockquote{
                font-style: italic;
            }
        }
    </style>
{% endblock %}

